{% block head %}
<title>OWL Eyewear - Création de page</title>
<link rel="icon" type="image/x-icon" href="{{ asset('/build/images/favicon.5ee79b31.ico') }}"/>
{% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
{% endblock %}
{% block body %}
    <div class="form">
        <div class="container">
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.metaDescription) }}
            {{ form_row(form.metaAuthor) }}
            {{ form_row(form.templates) }}
            {{ form_row(form.save) }}
            {# <a href="{{ path('easyadmin') }}" class="btn btn-info btn-fill">retour</a> #}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}