{% extends 'base.html.twig' %}
{% block head %}
<link rel="stylesheet" href="{{ encore_entry_link_tags('homeStyle') }}">
{% endblock %}
{% block body %}
  <body>
    <div class="bg-image"> 
        <div class=" txt-presentation">
            <h1>Owl Eyewear | Improve Your Night Vision</h1>
            <p> Les lunettes Owl eyewear sont équiper avec des verres améliorer qui améliore vôtre vue de nuit et vous permet de conduire en sécurité et serainement.<br>
            <br>
            La nuit, le trafic routier ne représente que 10% du trafic journalier mais génère 40% des accidents graves ou mortels. Plusieurs raisons sont en cause: fatigue, faible luminosité, vision trouble, l’éblouissement dû aux phares, etc… </p>
            <p>La vision est moins précise car les yeux ont besoin de temps pour s’adapter aux variations de luminosité et bien percevoir les reliefs et les distances</p>
        </div>
    </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    <div class="txt">
        <h2>Que faison nous pour vous ?</h2>
        <p>Pour éliminer ces inconforts, nous avons développé des lunettes ayant des verres évolués qui <br> permettront d’améliorer grandement la vision. </p>
        <p>Remerciez Owl Eyewear ! Vous aurez un meilleur confort visuel lors de vos déplacements dans des <br>conditions de faible luminosité et rendrez les routes plus sures !</p>
        
    </div>
        <br>
        <br>
        <!--Caratéristique des verres-->
    <div class="glass">
        <div class="labelFR">
            <img class="lblFR" src="{{ asset ("/build/images/FR.456ebb3d.png") }}" alt="lblGlassFR" id="SpecGlass">
        </div>
            <br>
        <div class="labelSepcFR">
              <img class="lblSpecFR" src= "{{ asset ("/build/images/Carac monture.e5411406.png") }}" alt="lblSpecFR">
        </div>
            <br>
        <div class="GlassDetailFR">
            <img class="imgGlassDetailEN" src= "{{ asset ("/build/images/Lunettes araignée.b9a13f1f.png") }}" alt="lblGlassDetailFR">
        </div>
    </div>
        <br>
    <div class="coat">
        <div class="labelCoatType">
          <img class ="lblCoatType" src= "{{ asset ("/build/images/Details traitements.7474e869.png") }}" alt="lblCoatTypeFR"> 
        </div>
            <br>
        
        <img class="coatdetail" src ="{{ asset ("/build/images/Détails des traitements.ee731cde.png") }}" alt="coatdetail">
    </img>
    
        <br>
    <!-- section -->
  <br>
      <div class="solution">
        <img class="lblsolutFR" src = "{{ asset ("/build/images/FR3.484e8eb8.png") }}" alt="lblSolv" id="resolut">
       <p></p>
        <br>
          <p>Les lunettes Owl Eyewear peuvent être portées dans différentes situations. Vous pouvez les utiliser <br>
            sur ’importe quelle route sombre (en ville ou à la campagne).Elles peuvent être portées au crépuscule,<br> 
            la nuit, dans le brouillard et sous de fortes averses.Lorsque vous portez les lunettes, vous rendez<br>
            la route plus sure, pour vous ainsi que pour les autres. Vous serez ravis des améliorations <br>
            que vous apportera cet équipement !</p>
        <p></p>
        <img class="gifSolv" src="{{ asset ("/build/images/FIGFINAL.396b4767.gif") }}" alt="gifSolv">
        <p></p>
        <p>Les lunettes Owl Eyewear peuvent être portées en voiture, à moto, à vélo et même en trottinette <br>électrique !</p>
      </div>
      <br>
      <br>
      <!--Info Adittionel-->
    <div class="infoAdit">
      <img class="lblInfoSupFR" src = "{{ asset ("/build/images/FR2.1671e564.png") }}" alt="lblInfoSupFR" id="infoSup">
      <p></p>
      <img class="lblYellowFR" src = "{{ asset ("/build/images/verres jaunes.cb45cc79.png") }}" alt="lblYellowFR">
      
        <p></p>
          <p>La teinte jaune (catégorie 0) est la solution contre les gênes visuelles dans des conditions <br> de conduite difficile.</p>
          <p>Le filtre jaune permet de filtrer les basses longueurs d’onde, particulièrement la lumière bleue, <br> 
             source d’éblouissement. Les longueurs d’ondes concernées sont entre 350 et 500nm.</p>
          <p>Riche en énergie, ces longueurs d’ondes sont plus diffusées dans l’atmosphère que les autres <br>longueurs d’ondes du spectre visible. La lumière bleue est le facteur principal de l’éblouissement <br> 
             et donne une impression de vision floue.</p>
          <p>Par conséquent, les verres jaunes offrent une protection maximale contre les rayons UV <br>
             et améliorent  la vision des contrastes et offre ainsi un meilleur confort.</p>
      <img class="pngGraphGlsFR" src ="{{ asset("build/images/FRcourbe.57889c14.png") }}" alt="pngGraphGlsFR">
      <p></p>
      <p></p>
      <p></p>
       <img class="lblNightMyopFR" src="{{ asset("build/images/Myopi noc.54895fea.png") }}" alt="lblNightMyopFR">
      <p></p>
        <p>La nuit, l’acuité visuelle diminue. C’est ce que l’on appelle la myopie nocturne physiologique.<br> 
           Il s’agit d’un phénomène optique naturel. La myopie est un défaut visuel corrigé par des verres <br>négatifs divergents.
           Quand une personne est myope, sa vision de loin est trouble, sans possibilité <br> 
           de compenser  soit même ce défaut. </p>
        <p>La nuit, les conducteurs sont légèrement myopisés, c’est pourquoi nous avons ajouté une petite <br>
           correction de la myopie de -0.25D dans les verres afin d’apporter une vision parfaitement <br>
           nette et confortable.</p>

           <!--Myopie-->
          <div class= "pngViewFR" >
                <img class="pngSunViewFR" src="{{ asset("build/images/net.c81b8bd3.png") }}" alt="pngSunViewFR">
                <p>Vision normal de jour</p>

                <img class="pngNightViewFR" src="{{ asset("build/images/Flou.77ea1e45.png") }}" alt="pngNightViewFR">
                <p>Visionision flou de nuit<p>

                <img class="pngNihtViewCorFR" src="{{ asset("build/images/corrige.c6f47421.png") }}" alt="pngNihtViewCorFR">
                <p>Vision corriger de nuit avec les verres OWL EyeWear</p>
          </div>
           <p></p>
           <p></p>
      <img class="lblPolarFR" src="{{ asset("build/images/verres polas.4267f8d5.png") }}" alt="lblPolarFR">
      <p></p>
      <p> Conduire dans des mauvaises conditions lumineuses peut faire partie de notre vie de tous les <br>
          jours et c’est pour cela que nous espérons que ces lunettes deviendront un accessoire<br> 
          indispensable à toute personne ayant des gênes visuelles !</p> <br>
      </div>
      </div>
     
     <!--Statistique-->
      <div class="stats">
      <p></p>
      <p></p>
        <img class="statisticsFR" src="{{ asset('build/images/FR4.c5c9ac1b.png') }}" alt="statisticsFR" id="statsup">
        <p></p>
        <p>D’après une étude réalisée en France, 42% des automobilistes conduisent la nuit au moins une <br> 
           fois par semaine et 89.3% des conducteurs ressentent des gênes durant ces trajets nocturnes.<br>
           De plus, la moitié des accidents mortels surviennent la nuit alors que le trafic ne représente<br>
           que 10% du trafic journalier. C’est pourquoi nous avons investit beaucoup d’efforts pour <br>
           développer des lunettes offrant confort et sérénité aux conducteurs.</p>
      <p></p>
      <p></p>
      </div>

      <!--Monture dispo-->
      <div class="framelst">
          <img class="frame" src="{{ asset('build/images/FR5.7549b27e.png') }}" alt="lstMonture" id="listMonture">
          <p></p>
          <img class="pngspec" src="{{ asset('build/images/Carac monture.e5411406.png') }}" alt="pngspec">
          <p></p>
          <img class="spec" src="{{ asset('build/images/carac.f0aa1af4.png') }}" alt="spec">
          <p></p>
          <p></p>
          <p></p>
          <p>Il existe 8 modèles de lunettes, disponibles uniquement sur Kickstarter. Vous pouvez choisir<br> 
             entre 6 modèles de montures classiques si vous ne portez pas de lunettes ou si vous portez<br>
             des lentillesde contact.</p>
          <p>Pour ceux ayant besoin de corrections nous proposons 2 sur-lunettes dans deux tailles différentes.<br>
             Elles sont conçues pour se placer par-dessus vos lunettes correctrices.</p>
          <div>Il existe différentes couleurs pour les modèles plastiques ainsi que différentes formes.<br> 
             Vous permettant de choisir le modèle qui vous convient le mieux.<br>
          <p>D’autres modèles seront disponibles si les objectifs de campagne sont atteints<br> 
          (25000€, 50000€, 75000€). Une seule couleur est disponible par modèle.</p>

          <img class="pngLblframe" src="{{ asset('build/images/Nos modSles.c402ed27.png') }}" alt="lblFrame">
    
          </div>
          <p></p>
          <p></p>
          <p></p>
          <!--Image-->
          <div class="img1">
          <img class="imgframe1"  src="{{ asset('build/images/27a16970da1f818ea2419f93a8a16be4_original.png') }}" alt="imgFrame1">
          </div>
          <p></p>
          <div class="img2">
          <img class="imgframe2"  src="{{ asset('build/images/a84715986501781141e5074442b89746_original.png') }}" alt="imgFrame2">
          </div>
          <p></p>
          <div class="img3">
          <img class="imgframe3"  src="{{ asset('build/images/f492acd4a9846eec532f31a21bff3179_original.a54153eb.png') }}" alt="imgFrame3">
          </div>
          <p></p>
          <div class="img4">
          <img class="imgframe4"  src="{{ asset('build/images/6e8e070aaa473041df3628c024a81cab_original.f9466eea.png') }}" alt="imgFrame4">
          </div>
          <p></p>
          <div class="img5">
          <img class="imgframe5" src="{{ asset('build/images/32feb0ca2b355438e4d5ea88a01b250e_original.6a6a1061.png') }}" alt="imgFrame5">
          </div>
          <p></p>
          <div class="img6">
          <img class="imgFrame6" src="{{ asset('build/images/5782e86838a62dd05d3348f28b44c4a2_original.png') }}" alt="imgFrame6">
          </img>
          <p></p>
          <div class="img7">
          <img class="imgframe7" src="{{ asset('build/images/b36c9cf3d44ba58db0e09363e4d69d05_original.png') }}" alt="imgFrame7">
          </div>
          <p></p>
          <div class="img8">
          <img class="imgframe8" src="{{ asset('build/images/8954eeef74be001decdac564f465a50a_original.75212a38.jpg') }}" alt="imgFrame8">
          </div>
          <p></p>
          <div class="img9">
          <img class="imgframe9" src="{{ asset('build/images/a67a0f66538778ff1f44f2b65cd485ec_original.87db49bc.jpg') }}" alt="imgFrame9">
          </div>
          <p></p>
          <div class="img10">
          <img class="imgFrame10" src="{{ asset('build/images/451c05a5dc8148affe85488dfa4ec839_original.0b8ab53b.jpg') }}" alt="imgFrame10">
          </div>
          <p></p>
          <div class="img11">
          <img class="imgFrame11" src="{{ asset('build/images/6f774fecf7de574748fb0bb69072090f_original.9dc1edab.jpg') }}" alt="imgFrame11">
          <!--Fin des images-->
          </div>
          <p></p>
          <!--Comment faire vôtre choix -->
          <p></p>
          <div class="choix">
          <img class="banChoix" src="{{ asset('build/images/FR6.bfb517ea.png') }}" alt="BannièreChoix">
          <p></p>
          <img class="imgChoix" src="{{ asset('build/images/Choix tailles.13201346.png') }}" alt="imageChoix">
          </div>
              <p></p>
      </div>
  
        <!--Réception -->
        <div class="reception">
            <p></p>
            <p></p>
            <img class="banRecep" src="{{ asset('build/images/FR7.64d4c2e0.png') }}" alt="banniere reception">
            <p></p>
            <p>La lunette choisie ne sera pas la seule chose que vous recevrez. Nous avons décidé de mettre<br> 
               le produit en valeur avec un packaging dans le thème de notre produit : l’obscurité.</p>
            <p>Dans le but de les protéger, vous disposerez également d’un étui souple. Grâce à celui-ci,<br>
               vos verres seront protégés et vous conserverez un bon confort visuel. Vous pouvez aussi les<br>
               ranger facilement dans la portière de votre voiture ou dans votre boite à gant sans risques.<br> 
               Il sera également fourni une microfibre pour nettoyer vos lunettes.</p>
            <p>Pour finir, nous vous offrons 2 stickers Owl Eyewear pour les collez ou vous le souhaitez !</p>
            <p></p>
            <img class="imgPack" src="{{ asset('build/images/0dc9738fbf7f13ec54f0a00792dddc36_original.6c16e7fc.png') }}" alt="image pack">
            <p></p>
            <img class="banHowMake" src="{{ asset('build/images/FR8.7b369de1.png') }}" alt="image How Make">
            <p></p>
            <p>Dès que nous aurons reçus les réponses aux questionnaires, nous enverrons les commandes à nos<br>
               fournisseurs des montures et des verres.</p>
            <img class="gifMaker" src="{{ asset('build/images/99de5feef4b02c9309cae676f50f8203_original.fdb3d0b6.gif') }}"
        </div>
    </div>
  

   
{% endblock %}
